* { box-sizing: border-box; }
body {
      background-color: #f2bd66; 
      color: #272a00;
      font-family: Arial, Verdana, sans-serif;
      margin: 0;
}
main {
      padding-left: 1em;
      padding-right: 1em;
      display: block;
      padding-bottom: 0;
      padding-top: 0;
}
header {
      text-align: center;
      font-size: 1.5em;
      background-color: #b1781e; 
      font-family: Georgia, sans-serif;
      padding: 1em;
}
header a { text-decoration: none; }
header a:link { color: #fff1d2; }
header a:visited { color: #fff1d2;}
header a:hover { color: #f3e5c6; }
#header1 {
      color: #c60000
}
#header2 {
      color: #7b5006
}
#header3 {
      color: #fffb17
}
#header4 {
      color: #fff1d2
}
h1 {
      font-size: 2.5em;
}
h2 {
      display: inline;
}
h3 {
      display: inline;
}
nav {
      align-items: center;
      justify-content: space-around;
      text-align: center;
      background-color: #9A9A9A;
      font-size: 1.2em;
      font-weight: 600;
      height: 3em;
}
nav a {
      text-decoration: none;
}
nav a:link { color: #344873; }
nav a:visited { color: #344873; }
nav a:hover { color: #A52A2A; }
nav ul {
      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;
	justify-content: space-around;
      text-decoration:none;
      padding-left: 0;
      list-style-type: none;
      flex-direction: row;
      margin: 0;
      height: 3em;
}
nav li {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 1em;
      padding-right: 1em;
      width: 100%;
      border: 1px solid black;
      border-bottom: solid;
}
footer {
      text-align: center;
      font-size: .70em;
      font-style: italic;
      padding: 1em;
      color: #474747;
      font-weight: 600;
}
/* Medium Display */
@media (min-width: 600px) {
      h1 {
            font-size: 2em;
            letter-spacing: .25em;
      }
      nav li {
            width: 12em;
	      border-bottom: none; 
         }
      nav ul {
            display: flex;
            flex-flow: row nowrap;
		justify-content: space-around;
            padding-right: 2em;
      }
      section {
            padding-left: 2em;
            padding-right: 2em;
      }
}
 
/* Large Display */
@media (min-width: 1024px) {
      nav ul {
            padding-right: 10%;
            padding-left: 10%;
      }
      #wrapper {
            margin: auto;
            width: 80%;
      }
} 